#search-bar {
  position: relative;
}

#input {
  width: 40%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 16px;
}

#submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 13px 30px;
 
  font-size: 16px;
  position: relative;
}

#display-text {
  font-size: 16px;
  padding: 13px 30px;
}
